.DS_Store
.cache/
*.log
bin/
obj/
*.tmp
*.temp
*.swp
.vscode/
.idea/
node_modules/
vendor/
*.iml
*.user
*.suo
*.Makefile
build/
dist/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
*.zip
*.tar
*.exe
*.dll
*.so
*.keystore
*.p12
*.db
*.sql
*.sqlite
*.keys
*.passwords

